<h1>profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

  <table>
    <thead>
      <tr>
        <th>Name </th>
        <th>Avatar </th>
        <th>Tagline </th>
        <th>Website </th>
        <th>Facebook </th>
        <th>Twitter </th>
        <th>Bio </th>
        <th>Photo </th>
        <th>Photo </th>
        <th>Photo </th>
        <th>Photo </th>
        <th>Photo </th>
        <th>Photo </th>
        <th></th>
        <th></th>
        <th></th>

      </tr> 
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
          <tr>  
            <td><%= profile.name %></td>
            <td><%= profile.avatar %></td>
            <td><%= profile.tagline %></td>
            <td><%= profile.website %></td>
            <td><%= profile.facebook %></td>
            <td><%= profile.twitter %></td>
            <td><%= profile.bio %></td>
            <td><%= profile.pic1 %></td>
            <td><%= profile.pic2 %></td>
            <td><%= profile.pic3 %></td>
            <td><%= profile.pic4 %></td>
            <td><%= profile.pic5 %></td>
            <td><%= profile.pic6 %></td>
            <td><%= link_to 'Show', profile_path(profile.id) %></td>
            <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
            <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>  
  </table>

  <br>            
          
  <%= link_to 'New Event', new_event_path %>    
