<p id="notice"><%= notice %></p>
<div class="event_show_page">
  <div  class="col-md-5 pull-left event_show">
    <h3><%= @profile.name %></h3>

    <p>
      <em><%= @profile.tagline %></em>
    </p>

    <p id="avatar">
      <strong>Avatar:</strong>
      <%= @profile.avatar %>
    </p>
    <br>
    <p class="small_font">
      <%= @profile.bio %>
    </p>
  </div>

  <div class="pull-left">
    <p></p><br>
    <div class="bigger_box">
      <div class="green_box">

      </div>
    </div> 
    <p>
      Website:
      <%= @profile.website1 %>
    </p>

    <p>
      Facebook:
      <%= @profile.facebook %>
    </p>

    <p>
      Twitter:
      <%= @profile.twitter %>
    </p>

  <%= link_to 'Back', profiles_path %>
  </div>
</div>