<h1>profiles#show</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @profile.tagline %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @profile.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @profile.pic1 %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @profile.pic2 %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @profile.pic3 %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @profile.pic4 %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @profile.pic5 %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @profile.pic6 %>
</p>



<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
