<html>
  <head>
    <title><%= @profile.name %> - Arteventz</title>
  </head>
  <body>
    <div class="container-fluid">
      <p id="notice"><%= notice %></p>
      <div class="event_show_page">
        <div  class="col-md-6 event_show span5">
          <h3><%= @profile.name %></h3>
          <p>
            <em><%= @profile.tagline %></em>
          </p>
          <p id="avatar">    
            <%= image_tag(@profile.avatar.url(:medium)) %>
          </p>
          <br>
          <div class="small_font" id="scroller-small">
            <p>
              <%= @profile.bio %>
            </p>
          </div>
          <br>
          <p>
            Website:
            <%= link_to("Member Website", @profile.website1) %>
          </p>
          <p>
            Facebook:
            <%= link_to("Link to Facebook", @profile.facebook) %>
          </p>
          <p>
            Twitter:
            <%= @profile.twitter %>
          </p>
          <h5><%= link_to 'Back', profiles_path %></h5>
        </div>
      </div>
      <div class="container-fluid sing_event_show">
        <div>
          <%= render 'shared/member_art_photo_slider' %>
        </div>
      </div>
    </div>
  </body>
</html>



