<div class="bottom-menu bottom-menu-large mbl">
  <div class="container foot-container">
    <div class="row">
      <div class="span2 group1">
        <p class="col-title">Featured Events</p>
        <ul class="bottom-links">
          <li><a href="http://www.artstozion.com/">A to Z Studio Tour</a></li>
          <li><a href="http://www.kayentastreetpainting.org/">Kayenta Street Paint</a></li>
          <li><a href="http://www.sgcity.org/artfestival/">St. George Art Fest</a></li>
          <li><a href="http://www.folkartmarket.org/">Santa Fe Folk Art</a></li>
          <li><a href="http://bchcares.org/foundation/art-in-the-park/">Art in the Park</a></li>
          <li><a href="http://www.artscape.org/">Baltimore Artscape </a></li>
          <li><a href="http://fineartboston.com/">Boston Int. Art Show</a></li>
        </ul>
      </div>
      <div class="span2 group1">
        <p class="col-title">Featured Artists</p>
        <ul class="bottom-links">
          <li><a href="http://www.nytimes.com/2014/04/07/arts/design/george-w-bushs-art-exhibition-at-presidential-center.html?_r=0">George W. Bush</a></li>
          <li><a href="http://www.redskelton.com/#!red-skelton-original-fine-art/c16at">Red Skelton</a></li>
          <li><a href="http://www.art.com/gallery/id--a514/georgia-o-keeffe-posters.htm">Georgia O'Keefe</a></li>
          <li><a href="https://www.facebook.com/GeraldoRivera">Geraldo Rivera</a></li>
          <li><a href="http://www.ijreview.com/2014/03/121935-ted-cruz-posters-spawn-pop-art/">Ted Cruz</a></li>
          <li><a href="http://www.allposters.com/-st/Barack-Obama-Posters_c97521_.htm">Barack Obama</a></li>
          <li><a href="http://davidhansenart.artistwebsites.com/">David Hansen</a></li>
        </ul>
      </div>
      <div class="span2 group1">
        <p class="col-title">Site Navigation</p>
        <ul class="bottom-links">
          <li><%= link_to "Sign Up", new_member_registration_path  %></li>
          <li><%= link_to "Sign In", member_session_path  %></li>
          <li><%= link_to "Contact Us", contact_path  %></li>
          <li><%= link_to "About Us", about_path  %></li>
          <li><%= link_to "Terms of Use", tos_path  %></li>
          <li><%= link_to "Get Newsletter", newsletter_signup_path  %></li>
        </ul>
      </div>
      <div class="span2 group1">
        <p class="col-title">Follow Us</p>
        <ul class="bottom-links">
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://twitter.com/">Twitter</a></li>
          <li><a href="https://www.youtube.com/">Youtube</a></li>
          <li><a href="https://plus.google.com/">Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> 