<h1>Public Art Events</h1>
<%= form_tag events_path, method: :get do %>
<%= text_field_tag :query, params[:query], :class => "search-box" %>
<%= submit_tag "Search By State", name: nil, :class => "btn btn-search" %>
<% end %>
<div class="container">

    <% @events.each do |event| %>
        <div class="row-fluid">
            <ul class="event-list">
            <li>
                <div class="event-date">
                    <%= event.date %>
                </div>
                <div class="event-title">
                    <%= event.title %>
                </div>
                <div class="event-  location">
                    <%= event.address %><br />
                    <%= event.city %><br />
                    <%= event.state %><br />
                    <br>
                    <br>
                    <%= link_to 'More Info', event_path(event.id) %><br />
                    <%= event.website %>

                </div>
            </li>
            </ul>
        </div>
    <% end %>
</div>