

<!-- <p id="notice"><%= notice %></p> -->
<div class="event_show_page">
  <div class="col-md-5 pull-left event_show">

    <h3><%= @event.title %></h3>

    <p>
     <em><%= @event.tagline %></em>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @event.time %>
    </p>

    <div class="small_font address">
      <p>
        <%= @event.address %> <%= @event.address2 %>
      </p>

      <p>
        <%= @event.city %>, <%= @event.state %> <%= @event.zip %>
      </p>
    </div>
  <br>
    <p>
      Contact Name:
      <strong><%= @event.contact_name %></strong>
    </p>

    <p>
      Contact Email:
     <strong><%= @event.contact_email %></strong>
    </p>
  <br>
  <div class="small_font">
    <p>
      <%= @event.more_info %>
    </p>

  </div>
  <br>
   <p>
      Website:
      <%= @event.website %>
    </p>

    <p>
      Facebook:
      <%= @event.facebook %>
    </p>

    <p>
      Application:
      <%= @event.application_form %>
    </p>

    

  <%= link_to 'Back', events_path %>
  </div>

    <br>
    <br>

  <div class="pull-left">
    <div class="bigger_box">
      <div class="green_box">

      </div>
    </div> 
   
  </div>
</div>