<!-- <div class="container-fluid shown"> -->
<div class="event_show_page2">
  <div  class="col-md-4 pull-left event_show span5">
    <h3><%= @profile.name %></h3>
    <p>
      <em><%= @profile.tagline %></em>
    </p>
    <p id="avatar">
      <strong>Avatar:</strong>
      <%= image_tag(@profile.avatar.url(:medium)) %>
    </p>
    <br>
    <div class="small_font" id="scroller-small">
      <p>
        <%= @profile.bio %>
      </p>
    </div>
    <br>
    <p>
      Website:
      <%= @profile.website1 %>
    </p>
    <p>
      Facebook:
      <%= @profile.facebook %>
    </p>
    <p>
      Twitter:
      <%= @profile.twitter %>
    </p>
  </div>
</div>

<div class="photo_in pull-right">
  <p>Upload Art Photo:</p>
  <div id="pic-box">
  </div>
  <br>
  <%= form_for([:dashboard, @profile, @art_photo]) do |f| %>
    <%= f.file_field :photo %>
    <br>
    <br>
    <%= f.submit('Upload Image', class: 'btn btn-primary') %>
  <% end %>
  <br>
  <br>
  <h5>
    <%= link_to 'Edit', edit_dashboard_profile_path(@profile) %> |
    <%= link_to 'Done', @profile %>
  </h5>
</div>