<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>

  <strong>Avatar:</strong>
  <%= image_tag(@profile.avatar.url(:medium)) %>

</p>

<p>
  <strong>Tagline:</strong>
  <%= @profile.tagline %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website1 %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @profile.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>
<%= link_to 'Edit', edit_dashboard_profile_path(@profile) %> 
<%= link_to 'Back', dashboard_profiles_path %>

<%= form_for([:dashboard, @profile, @art_photo]) do |f| %>
      <%= f.label :photo %> 
      <%= f.file_field :photo %>
      <%= f.submit('Upload Image', class: 'btn btn-primary') %>
<% end %>