<h1>My Events</h1>
<table class="table">
  <thead>
    <tr>
      <th>Date </th>
      <th>Title </th>
      <th>Website </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.title %></td>
        <td><%= event.website %></td>
        <td><%= link_to 'Show', dashboard_event_path(event.id) %></td>
        <td><%= link_to 'Edit', edit_dashboard_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
