<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ArtEventz" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="topbar">
      <%= link_to(image_tag "arteventz-header-4-5.jpg") %>
    </div>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", root_path  %></li>
              <li><%= link_to "Members", profiles_path  %></li>
              <li><%= link_to "Events", events_path %></li>
              <li><%= link_to "Calendar", calendar_path  %></li>
              <li><%= link_to "About us", about_path  %></li>
              <li><%= link_to "Contact", contact_path  %></li>
              <li class="dropdown ">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if user_logged_in? %>
                  <li><%= link_to "Edit Account", edit_member_registration_path %></li>
                  <li><%= link_to "Logout", destroy_member_session_path, method: :delete  %></li>
                  <% else %>
                  <li><%= link_to "Login", new_member_session_path %></li>
                  <li><%= link_to "Sign Up", new_member_registration_path  %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="span12 offset1">
        <div id="user-widget">
  
</div>

          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    <footer>
      <div class="footer">
        <%= render 'shared/footer' %>
      </div>
      <div class="clearfix"></div>
    </footer>
      <%= javascript_include_tag "application" %>
  </body>
</html>



